.buy-button{
    border-radius: 10px;
    background-color: black;

}
.container{
    margin-bottom: 100px;
}
p{
    color: gray;
}
.card{
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.cat{
    width: 100px;
    height: 8px;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    margin-bottom: 100px;
}
.box{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:30px;
    box-shadow: 5px 5px 10px gray;
}
.car-sec{
    background-image: url(images/bg/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.carousel{
    background-image: url(images/bg/bg-2.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
a{
    color: orange;
    font-weight: 700;
}
